.select-container{
    border-radius: 12px; /* Bordo arrotondato */
    margin: auto;
    max-width: 400px;
    color: white;
    --color-activated: white;
    --color-focused: white;
    --color-hover: white;

    --background: #3a567b;
    --background-focused: #2c4460;
    --background-hover: #2c4460;
  }
  
  .select-input {
    color: #1c1818; /* Colore del testo nero */ 
  }
  ion-searchbar{
    color: white;
  }