p {
    color: red;
    text-align: center;
}
ion-item {
    color: white;;
//    --border-color: white; // default underline color
    --highlight-color-invalid: #2c4460; // invalid underline color
}

ion-item:hover{
    background-color: #404f79;
}