ion-img{
    height: 30vh;
    width: auto;
    margin: auto;
    display: block;
    
}


ion-content {
    --ion-background-color: #3a567b;
    //--ion-background-color: transparent;

    --color: #ffffff;
    background-image: none;
    
}